{% extends "auctions/layout.html" %}

{% block body %}


<div class="listing-flex-container">
    <div><img src="{{ listing.image_URL }}" class="listing-preview" /></div>
    <div class="listing-info">

        <h1>{{listing.title}}</h1>
        {{ listing.description }}
        <br><br>

        {% if listing.current_bids.first %}
            <h4><b>Price:</b> {{ listing.current_bids.last.value|stringformat:".2f" }} &#163;</h4>
        {% else %}
            <h4><b>Price:</b> {{ listing.starting_bid|stringformat:".2f" }} &#163;</h4>
        {% endif %}

        <br>

        {% if listing.closed %}
            {% if request.user == listing.current_bids.last.bidder %}
                <div class="alert alert-success" role="alert">Congratulations! You won the auction.</div>
            {% else %}
                <div class="alert alert-secondary" role="alert">This auction is closed. Item sold to {{listing.current_bids.last.bidder}}.</div>
            {% endif %}

        {% else %}

            {% if request.user == listing.seller %}
                <button type="submit" onclick="location.href='{% url 'close_auction' listing.id %}'">Close auction</button>

            {% elif request.user.is_authenticated %}
                <h4>Place a bid:</h4>
                <form action="{% url 'listing' listing.id %}" method="POST">
                    {% csrf_token %}
                    <input type="number" name="new_bid" min="{{ listing.current_bids.last.value }}" step=".01">
                    <input type="submit" value="Place bid" />
                </form><br><br>

                {% if user in listing.watched_by.all %}
                    <button type="submit" onclick="location.href='{% url 'manage_watchlist' listing.id %}'">Remove from watchlist</button>
                {% else %}
                    <button type="submit" onclick="location.href='{% url 'manage_watchlist' listing.id %}'">Add to watchlist</button>
                {% endif %}

            {% endif %}

            <br><br>
            <h7><b>Sold by:</b> {{ listing.seller }}</h7><br>
            <h7><b>Category:</b> {{ listing.get_category_display }}</h7>

        {% endif %}

    </div>
</div>


<div class="comment-section">
    <br><br><br>
    <h3>Comments:</h3><br>
    {% for comment in listing.comments.all %}
        <h5><b>{{comment.commenter}}</b> said: </h5>
        {{comment.content}}<br><br>
    {% empty %}
        No comments yet<br><br>
    {% endfor %}

    <br><h3>Add a comment</h3><br>
    <form action="{% url 'add_comment' listing.id %}" method="POST">
        {% csrf_token %}
        <textarea class="form-control" rows="3" placeholder="Write something" name="new_comment"></textarea><br>
        <input class="btn btn-primary" type="submit" value="Add comment" />
    </form><br><br>

</div>

{% endblock %}