{% extends "auctions/layout.html" %}

{% block body %}
    <h2>My watchlist</h2>

    <table class="listing-table">
        {% for listing in listings %}
        <tr class="listing-table-row">
            <td class="listing-table-element" style="width: 300px">
                <img src="{{ listing.image_URL }}" width="100%"/>
            </td>
            <td class="listing-table-element" style="padding-left: 30px">
                <a href="{% url 'listing' listing.id %}"><h3>{{ listing.title }}</h3></a>
                {% if listing.current_bids.first %}
                    <h5><b>Price:</b> {{ listing.current_bids.last.value }} &#163;</h5>
                {% else %}
                    <h5><b>Price:</b> {{ listing.starting_bid }} &#163;</h5>
                {% endif %}
                {{ listing.description }}
                {% if listing.closed %}
                    <br><br><h5>This auction is closed</h5>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}